.about {
    padding-top: 45px;
    padding-left: 15px;
    background: #F4F5F7;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans';
    @include for-large-up {
        display: flex;
        justify-content: space-between;
        padding: 77px 130px 76px 130px;
        flex-direction: row;
    }
}

.article {
    width: 290px;
    height: 180px;
    @include for-large-up {
        width: 555px;
    }
    &:first-child {
        margin-bottom: 6px;
    }
    &:last-child {
        @include for-large-up {
            margin-left: 29px;
        }
    }
    &__title {
        font-size: 22px;
        font-weight: 700;
        width: 555px;
        line-height: 32px;
        margin: 0;
    }
    &__text {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 0;
        margin-top: 6px;
    }
}