.about {
    padding: 46px 15px 46px 15px;
    width: 100%;
    background: #F4F5F7;
    display: flex;
    flex-direction: column;
}

.article__title {
    font-weight: 700;
    width: 555px;
    line-height: 32px;
    margin: 0;
}

.article__text {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 0;
    margin-top: 6px;
}

.article {
    margin-top: 20px;
    width: 290px;
    height: 180px;
}

.article:last-child {
    margin-top: 20px;
}

@media screen and (min-width: 400px) {
    .about {
        display: flex;
        justify-content: space-between;
        padding: 77px 130px 76px 130px;
        flex-direction: row;
    }
    .article {
        width: 555px;
    }
}