                                .feedback {
                                    font-family: 'Work Sans';
                                    position: relative;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    width: 100%;
                                    padding: 0;
                                    padding-bottom: 50px;
                                    @include for-large-up {
                                        font-family: 'Work Sans';
                                        position: relative;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        width: 100%;
                                        padding: 0;
                                        padding-bottom: 67px;
                                    }
                                    &__title {
                                        color: #3142C6;
                                        margin-left: 15px;
                                        @include for-large-up {
                                            margin: 0;
                                            font-weight: 700;
                                            font-size: 24px;
                                            line-height: 30px;
                                            color: #3142C6;
                                            padding-bottom: 24px;
                                        }
                                    }
                                    &__description {
                                        margin-left: 15px;
                                        line-height: 34px;
                                        text-align: left;
                                        width: 290px;
                                        font-size: 24px;
                                        @include for-large-up {
                                            margin-top: 28px;
                                            width: 750px;
                                            font-size: 24px;
                                            line-height: 34px;
                                            text-align: center;
                                        }
                                    }
                                    &__review {
                                        width: 290px;
                                        margin-bottom: 40px;
                                        @include for-large-up {
                                            text-align: center;
                                        }
                                    }
                                    &__name {
                                        font-weight: 700;
                                        font-size: 16px;
                                        line-height: 24px;
                                        @include for-large-up {
                                            font-weight: 700;
                                            font-size: 16px;
                                            line-height: 24px;
                                            margin-top: 32px;
                                        }
                                    }
                                    &__position {
                                        @include for-large-up {
                                            color: rgba(43, 41, 45, 0.6);
                                            font-size: 16px;
                                            line-height: 24px;
                                        }
                                    }
                                    &__navigation {
                                        margin: 0 auto;
                                        margin-top: 40px;
                                        @include for-large-up {
                                            margin: 0 auto;
                                            margin-top: 40px;
                                        }
                                    }
                                    &__image {
                                        margin-top: 40px;
                                        @include for-large-up {
                                            position: absolute;
                                            right: 0;
                                            bottom: 0;
                                        }
                                    }
                                    &__line {
                                        @include for-large-up {
                                            border: 1px solid #2B292D;
                                            width: 100%;
                                            opacity: 0.1;
                                        }
                                    }
                                }
                                
                                .dot-nav {
                                    @include for-large-up {
                                        display: flex;
                                        justify-content: center;
                                    }
                                    &__item {
                                        display: inline-block;
                                        width: 8px;
                                        height: 8px;
                                        border-radius: 50%;
                                        background-color: #2B292D;
                                        opacity: 0.2;
                                        margin-left: 19.5px;
                                        &_selected {
                                            display: inline-block;
                                            width: 8px;
                                            height: 8px;
                                            border-radius: 50%;
                                            margin-left: 0;
                                            background-color: #3142C5;
                                            opacity: 1;
                                        }
                                    }
                                }