    .inbox {
        @include for-large-down {
            padding: 50px 15px;
            background-color: rgba(252, 240, 227, 0.4);
            display: flex;
            flex-direction: column;
            margin-left: 0;
        }
        @include for-large-up {
            display: flex;
            position: relative;
            background-color: rgba(252, 240, 227, 0.4);
            height: 790px;
            display: flex;
            flex-direction: row;
        }
        &__decoration {
            @include for-large-down {
                margin-left: 0;
                margin-right: 15px;
                height: 348px;
            }
            @include for-large-up {
                margin-left: 193px;
                margin-top: 142px;
                margin-bottom: 138px;
            }
        }
        &__image {
            @include for-large-down {
                width: 280px;
                height: 348px;
            }
            @include for-large-up {
                width: 425px;
                height: 510px;
            }
        }
        &__image-caption {
            display: none;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: rgba(43, 41, 45, 0.6);
            margin-top: 15px;
            @include for-large-up {
                display: block;
                padding-top: 15px;
                text-align: center;
                font-size: 14px;
                line-height: 22px;
                font-size: 14px;
                line-height: 22px;
                color: rgba(43, 41, 45, 0.6);
            }
        }
        &__main_section {
            @include for-large-down {
                margin-left: 0;
                font-family: 'Work Sans';
            }
            @include for-large-up {
                width: 1140px;
                margin: auto;
                display: flex;
            }
        }
        &__column {
            @include for-large-up {
                font-family: 'Work Sans';
                width: 460px;
                margin-left: 129px;
            }
        }
        &__subtitle {
            margin-top: 32px;
            color: #F1592B;
            @include for-large-up {
                font-weight: bold;
                font-size: 22px;
                line-height: 34px;
                color: #F1592B;
            }
        }
        &__title {
            @include for-large-down {
                margin-top: 17px;
            }
            @include for-large-up {
                font-weight: bold;
                font-size: 56px;
                line-height: 56px;
                letter-spacing: -0.5px;
                margin-top: 24px;
                margin-bottom: 20px;
            }
        }
        &__description {
            margin-top: 18px;
            font-size: 24px;
            line-height: 34px;
            @include for-large-up {
                font-size: 24px;
                line-height: 34px;
            }
        }
    }
    
    .review {
        @include for-large-down {
            display: flex;
            width: 290px;
            height: 321px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
            border-bottom: 2px solid #0185D0;
        }
        @include for-large-up {
            width: 519px;
            height: 213px;
        }
        &__description {
            width: 250px;
            padding-left: 20px;
            padding-top: 30px;
            padding-bottom: 26px;
            padding-right: 20px;
            font-size: 20px;
            line-height: 28px;
            margin: 0;
            @include for-large-up {
                padding: 30px;
                font-size: 20px;
                line-height: 28px;
                margin: 0;
            }
        }
        &__picture-main {
            margin-right: 15px;
            width: 40px;
            height: 40px;
        }
        &__details {
            margin-top: -5px;
            display: flex;
            margin-left: 26px;
            padding-left: 5px;
        }
        &__text {
            margin: 0;
            padding: 0;
        }
        &__name {
            font-weight: bold;
        }
        &__position {
            font-size: 16px;
            line-height: 22px;
            @include for-large-up {
                color: rgba(43, 41, 45, 0.6);
                padding: 0;
            }
        }
    }